[data-mark="mark_train"] {
    background-color: #a22ca2;
    opacity: 0.7;
}

[data-mark="possible_mark_train"] {
    background-color: #19a619;
    opacity: 0.7;
}

[data-mark="possible_del_mark_train"] {
    background-color: red;
    opacity: 0.7;
}

[data-mark="mark_predict"] {
    background-color: orange;
    opacity: 0.7;
}