.modal {
    position: fixed;
    z-index: 300;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    right: 5%;
    top: 10%;
    font-family: 'Arial', 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.modal_content {
    color: black;
    min-height: 100%;
    background-color: gray;
    padding: 10px;
}

.modal_header {
    width: 100%;
    height: 15px;
    background-color: darkorange;
    padding: 5px;
    font-size: 25px;
}

.modal_close {
    position: absolute;
    right: 0px;
    top: 0px;
}

.modal_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal_title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    margin: 0px 0px 1em 0px;
}

.modal_button {
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkorange;
    text-transform: uppercase;
}

.modal_button:hover {
    background-color: #e77e06;
}