body {
    width: 350px;
    height: auto;
    margin: 0;
    padding: 20px;
    font-family: 'Arial', 'Verdana', sans-serif;
    background-color: #f2f4f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup_title {
    background-color: #8aa7e5;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.popup_title h1 {
    margin: 0;
    color: #fff;
}

.popup_main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.popup_btn {
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    width: 45%;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#select-data-start {
    background-color: #5ea413;
}

#select-data-start:hover {
    background-color: #4c8d10;
}

#select-data-stop {
    background-color: red;
}

#select-data-stop:hover {
    background-color: darkred;
}

.settings {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.setting_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.setting_item_label {
    color: #333;
    font-weight: bold;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #19a619;
}

input:focus + .slider {
    box-shadow: 0 0 1px #19a619;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#collectors_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#collectors_table th,
#collectors_table td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

#collectors_table th {
    background-color: #efefef;
    font-weight: bold;
}

#collectors_table td {
    background-color: #fff;
}

#collectors_table tr:nth-child(even) td {
    background-color: #f9f9f9;
}

#tasksSelect {
}